.redes{
    display: none;
}

.wrapper {
    display: flex; /* Utilizar flexbox */
    height: calc(100% - 100px - 100px); /* Altura total - altura del header - altura del footer */
}

.d-menu {
    display: flex;
    flex-direction: column;
    width: 25%; /* El menú ocupa el 25% de la pantalla */
    background-color: transparent; /* Color de fondo del menú */
    border-right: 1px solid #e0e0e0; /* Borde derecho gris claro */
    z-index: 105;
    color: white; /* Cambiar el color del texto a blanco */
    font-size: 18px; /* Cambiar el tamaño del texto */
    margin-left: 3%; /* Ajusta el valor del margen según sea necesario */
}

.menu-option {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white; /* Cambiar el color del texto a blanco */
    font-size: 18px; /* Cambiar el tamaño del texto */
}


.submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.submenu a {
    text-decoration: none;
    color: black;
}

.d-content {
    flex-grow: 1; /* El contenido ocupa todo el espacio restante */
    background-color: transparent; /* Color de fondo del contenido principal */
    z-index: 105;

}

.search-container {
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente del buscador */
}

.search-container button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente del botón */
}

.search-container button:hover {
    background: #45a049;
}


.contenido-inicio {
    width: 100%;
    height: 35%;
    background-color: black;
}

.otro-inicio {
    width: 100%;
    height: calc(100% - 35%);
    background-color: gray; /* Cambia el color según tus necesidades */
}

.contenido-lanzamientos {
    width: 100%;
    height: 35%;
    /* background-color: rgb(165, 138, 138); */
}

.otro-lanzamientos {
    width: 100%;
    height: calc(100% - 35%);
    /* background-color: rgb(189, 141, 141); */
}

.contenido-ganancias {
    width: 100%;
    height: 35%;
    background-color: #7fb3d5; /* Azul claro */
}

.otro-ganancias {
    width: 100%;
    height: calc(100% - 35%);
    background-color: #b7d8ff; /* Azul claro más claro */
}

.contenido-estadisticas {
    width: 100%;
    height: 35%;
    /* background-color: #f5a3a3; */
}

.otro-estadisticas {
    width: 100%;
    height: calc(100% - 35%);
    /* background-color: #f2bfbf;  */
}

.contenido-transacciones {
    width: 100%;
    height: 35%;
    background-color: #9bd3c6; /* Verde agua */
}

.otro-transacciones {
    width: 100%;
    height: calc(100% - 35%);
    background-color: #c3e9dd; /* Verde agua más claro */
}

.dashboard-nav {
    width: calc(100% - 10%); /* Reducir el ancho total para dejar espacio en el borde derecho */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al borde derecho */
    margin-right: 5%; /* Separación del borde derecho */
}

.dashboard-nav .navegacion__enlace {
    margin-left: 5%; /* Agrega un margen entre los elementos */
}

.dashboard-nav .navegacion__enlace:first-child {
    margin-right: 5%; /* Margen derecho mayor para el primer elemento */
}

.circle {
    display: inline-block;
    width: 12px; /* Ajusta el tamaño del punto según sea necesario */
    height: 12px; /* Ajusta el tamaño del punto según sea necesario */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del punto */
    margin-right: 5px; /* Espacio entre el punto y el texto */
    position: relative;
    top: 0; /* Ajusta la posición vertical del punto */
}



@media (min-width: 1280px) {
    .boton-hamburguesa {
        display: none;
        /* Oculta el botón hamburguesa */
    }
}