.redes {
    display: none;
}

.a_Logo {
    width: 17.2%;
}

.wrapper {
    display: flex; /* Utilizar flexbox */
    height: calc(100% - 100px - 100px); /* Altura total - altura del header - altura del footer */
}
.bold {
    font-weight: bold;
}

.d-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: transparent;
    border-right: 1px solid #e0e0e0; 
    z-index: 105;
    color: white;
    font-size: 25px;
    margin-left: 3%;  
}

.menu-title,
.menu-list{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 15px;
}

.menu-list{
    margin-left: 35px;
    font-size: 35px;
    list-style-type: none;
}

.menu-list li {
    list-style-type: none; /* Quita los marcadores de viñetas de los elementos de la lista */
}

.menu-option.active {
    font-weight: bold;
    pointer-events: none;
}

.menu-option {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
    width: fit-content;
}

.submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.submenu a {
    text-decoration: none;
    color: black;
}

.d-content {
    flex-grow: 1; /* El contenido ocupa todo el espacio restante */
    background-color: transparent; /* Color de fondo del contenido principal */
    display: flex;
    flex-direction: column;
    z-index: 105;
    position: relative;
    bottom: 5%;
}

.search-container {
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente del buscador */
}

.search-container button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente del botón */
}

.search-container button:hover {
    background: #45a049;
}

#inicio,
#Otra_Seccion,
#ganancias,
#estadisticas,
#transacciones {
    display: block;
}

.contenido-inicio {
    width: calc(100% - 10%);
    height: 35%;
    margin: 35px 45px 10px 45px;
    background: linear-gradient(to top, #ae10d5, rgba(152, 18, 156, 0));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    background-color: rgba(73, 34, 73, 0.4); /* Ajusta el valor de opacidad aquí */
}



.first-p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
}

.second-p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5rem;
}

@media (min-width: 1600px) {
    .second-p {
        font-size: 3rem;
    }
}

.last-p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
}

.white-fill path {
    fill: white;
}

.photo-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.photo {
    width: auto;
    position: absolute;
    height: 100%;
    top: 0; /* La imagen estará alineada con la parte superior del contenedor */
    left: 0;
    right: 0; /* La imagen ocupará todo el ancho del contenedor */
    bottom: 0; /* La imagen ocupará todo el alto del contenedor */
    margin: auto; /* Centra la imagen horizontalmente */
    z-index: 1;
}

.half-width.left-content {
    position: relative;
    height: 100%;
}

.otro-inicio {
    width: calc(100% - 10%); /* Reducir el ancho total para dejar espacio en los lados */
    flex-grow: 1; /* Hace que ocupe el espacio restante */
    margin: 0 45px; /* Agregar margen a los lados */
    position: relative; /* Establece la posición del contenedor a relativa */
    height: 65%;
}

.otro-inicio h2 {
    text-align: left; /* Alineación del texto a la izquierda */
    margin-bottom: 20px; /* Espacio inferior */
    font-size: 24px; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    color: white; /* Color del texto */
}

.pagination-container {
    display: flex; /* Utiliza flexbox */
    justify-content: flex-end; /* Distribuye los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    width: calc(104% - 90px); /* Ajusta el ancho del contenedor para dejar espacio para los botones */
}

.pagination-container button {
    font-size: 16px;
    margin-right: 10px; /* Añade margen entre los botones */
}

.pagination-container button:first-child {
    margin-right: 10px; /* Ajusta el margen derecho del primer botón */
}

.pagination-container button:last-child {
    margin-left: 10px; /* Ajusta el margen izquierdo del segundo botón */
}


.rounded-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    background-color:rgb(95 40 155 / 50%);
    color: white;
}

.secondary {
    background-color:rgb(95 40 155 / 50%);
    color: white;
}

table {
    border-collapse: separate; /* Cambiar a 'separate' para que los bordes colapsados tengan separación */
    border-spacing: 0 10px; /* Espacio vertical entre las filas y 0 de espacio horizontal */
    width: 100%;
}

/* Estilo para el primer td */
td:first-child {
    background-color: transparent; /* El primer td no tiene color de fondo */
}

th, td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    color: white;
}

th{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.colored-rows td:nth-child(2) {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    width: 35%;
}

td {
    text-align: left;
    padding: 0px 0px; /* Ajusta el padding para crear más espacio entre filas */
    color: white;
    background-color: rgb(95 40 155 / 50%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

/* Estilo para el primer td */
td:first-child {
    background-color: transparent; /* El primer td no tiene color de fondo */
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5),
th:nth-child(6),
td:nth-child(6) {
    text-align: center;
}

.song-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinear el contenido al inicio */
    height: 60px; /* Altura aumentada */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

}

td.song-info {
    max-width: 0;
    width: 1%;
    white-space: nowrap;
}

.song-info img {
    width: 60px;
    height: 100%; 
    border-radius: 25%; 
    margin-right: 20px;
    background-color: black; /* El primer td no tiene color de fondo */

}

.left-content,
.right-content {
    width: 50%; /* Cada elemento ocupa la mitad del ancho */
}

.left-content {
    float: left; /* Alinear a la izquierda */
}

.right-content {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra verticalmente los elementos */
}
.button-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.button-container svg {
    margin-right: 10px;
    width: 20px;
    margin-left: 10px;
}

.button-container button {
    display: flex; /* Para que el contenido se muestre en línea */
    align-items: center; /* Centra verticalmente el contenido */
    width: 150px; /* Ancho deseado para los botones */
    height: 40px; /* Altura deseada para los botones */
    border-radius: 10px; /* Radio de borde para redondear las esquinas */
}
.button-container button:first-child {
    width: 100px; /* Ancho deseado para el primer botón */
    height: 40px; /* Altura deseada para los botones */
    border-radius: 15px; /* Radio de borde para redondear las esquinas */
    margin-right: 10px; /* Espacio entre los botones */
    margin-top: 0;
    background-color: white;

}

.button-container button:last-child {
    width: 150px; /* Ancho deseado para el segundo botón */
    height: 40px; /* Altura deseada para los botones */
    border-radius: 15px; /* Radio de borde para redondear las esquinas */
    margin-top: 0;
    background-color: transparent;
    border-color: white;
}

button:hover{
    cursor: pointer;
}
.content-left {
    margin-top: 10px;
}

.text-container {
    max-width: 100%; /* Establece el ancho máximo al 65% del contenedor padre */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto supera el ancho máximo */
    white-space: nowrap; /* Evita que el texto se rompa en múltiples líneas */
}

.icon-text-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    line-height: 0;
}

svg {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.contenido-Otra_Seccion {
    width: 100%;
    height: 35%;
    /* background-color: rgb(165, 138, 138); */
}

.otro-Otra_Seccion {
    width: 100%;
    height: calc(100% - 35%);
    /* background-color: rgb(189, 141, 141); */
}

.contenido-ganancias {
    width: 100%;
    height: 35%;
    background-color: #7fb3d5; /* Azul claro */
}

.otro-ganancias {
    width: 100%;
    height: calc(100% - 35%);
    background-color: #b7d8ff; /* Azul claro más claro */
}

.contenido-estadisticas {
    width: 100%;
    height: 35%;
    /* background-color: #f5a3a3; */
}

.otro-estadisticas {
    width: 100%;
    height: calc(100% - 35%);
    /* background-color: #f2bfbf;  */
}

.contenido-transacciones {
    width: 100%;
    height: 35%;
    background-color: #9bd3c6; /* Verde agua */
}

.otro-transacciones {
    width: 100%;
    height: calc(100% - 35%);
    background-color: #c3e9dd; /* Verde agua más claro */
}

.dashboard-nav {
    width: calc(100% - 10%); /* Reducir el ancho total para dejar espacio en el borde derecho */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos al borde derecho */
    margin-right: 6.5%; /* Separación del borde derecho */
}

.dashboard-nav .navegacion__enlace {
    margin-left: 5%; /* Agrega un margen entre los elementos */
}

.dashboard-nav .navegacion__enlace:first-child {
    margin-right: 5%; /* Margen derecho mayor para el primer elemento */
}

.circle {
    display: inline-block;
    width: 12px; /* Ajusta el tamaño del punto según sea necesario */
    height: 12px; /* Ajusta el tamaño del punto según sea necesario */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: white; /* Color del punto */
    margin-right: 5px; /* Espacio entre el punto y el texto */
    position: relative;
    top: 0; /* Ajusta la posición vertical del punto */
}

.navegacion__enlace::before, .navegacion__enlace::after{
    display: none;
}

.dashboard-nav .navegacion__enlace {
    text-transform: none; /* Desactiva la transformación de texto */
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.music-player-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajusta la altura según tus necesidades */
    background-color: rgba(95, 40, 155, 0.5);
    padding: 10px;
    box-sizing: border-box;
    z-index: 107;
    border-top-left-radius: 15px; /* Redondea el borde superior izquierdo */
    border-top-right-radius: 15px; /* Redondea el borde superior derecho */
}

.music-player-controls {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.music-player-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-control {
    display: flex;
    width: 25%;
    margin-bottom: 5px;
    line-height: 1.5;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.image-container {
    margin-right: 5px; /* Ajustar el margen derecho */
}

.player-image {
    display: flex;
    width: 65px;
    height: 60px;
    border-radius: 25%;
    background-color: black;
}

.sub_text-container {
    overflow: hidden;
    width: 50%; /* Tamaño inicial del contenedor de texto */
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

.text1 {
    margin: 0;
    animation: slide-text 10s linear infinite;
    line-height: 1;
    font-size: 15px;
}

p.text2 {
    margin: 0;
}

@keyframes slide-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.center-control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los elementos */
    width: 50%;
    margin-bottom: 5px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0 10px;
}

.icon-button {
    transition: transform 0.2s;
}

.icon-container .clickable {
    cursor: pointer;
}

.icon-tabler-player-play,
.icon-tabler-player-pause {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.hidden {
    display: none;
}

.counters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.counter {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-control {
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: center;
    color: white;
}

/* Estilo básico para el input range */
.volume-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #a905b6 0%, #a905b6 50%, #ddd 50%, #ddd 100%);
    border-radius: 5px; /* Para que tenga esquinas redondeadas */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

/* Estilo del control deslizante cuando el usuario interactúa */
.volume-bar:hover {
    opacity: 1;
}

/* Estilo de la bolita */
.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Ancho de la bolita */
    height: 20px; /* Altura de la bolita */
    background: #a905b6; /* Color de la bolita */
    border-radius: 50%; /* Para que sea redonda */
    border: 2px solid #a905b6; /* Borde de la bolita */
    cursor: pointer; /* Cambia el cursor al pasar sobre la bolita */
    opacity: 0; /* Oculta la bola por defecto */
    transition: opacity 0.3s ease; /* Agrega una transición para suavizar el cambio */

}

/* Estilo de la bolita cuando el usuario interactúa */
.volume-bar:hover::-webkit-slider-thumb {
    background: #a905b6; /* Cambia el color de la bolita al pasar sobre ella */
    opacity: 1; /* Muestra la bola cuando el mouse está sobre el control deslizante */

}

.volume-bar-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.volume-button {
    display: flex;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}


@media (min-width: 1280px) {
    .boton-hamburguesa {
        display: none;
        /* Oculta el botón hamburguesa */
    }
}
