#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s;
}

#loader-gif {
    display: none;
    /* Por defecto, oculta el GIF */
}

#loader-video {
    max-width: 100%;
    max-height: 100%;
}

#content {
    display: none;
}


/* Estilos generales */

body {
    margin: 0;
    padding: 0;
}


/* Estilo para bloquear el scroll */

.body-scroll-lock {
    overflow: hidden;
}

html {
    background-size: cover;
    /* Cubre todo el contenido */
    max-height: 200rem;
    background: linear-gradient(to top, #240922, #d828de);
}


/* Estilos para el header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #98129c;
    padding: 10px;
    width: 100%;
    z-index: 999;
    /* Asegura que el encabezado esté por encima de otros elementos */
    box-sizing: border-box;
}

.header__logo {
    max-width: 100%;
    /* El logotipo puede ocupar hasta la mitad del ancho disponible */
}

img {
    height: auto;
    /* Mantiene la proporción de aspecto de la imagen */
    max-width: 100vw;
    /* Establece un ancho máximo basado en el ancho de la ventana */
}


/* Estilos para el contenido principal */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    /* Incluir el padding en el cálculo del ancho */
    margin-top: 10%;
}

.contenedor {
    max-width: 1200px;
    /* Por ejemplo, establece un ancho máximo */
    width: 100%;
    box-sizing: border-box;
    /* Incluir el padding en el cálculo del ancho */
}


/* Estilos para el botón de hamburguesa cuando está abierto */


/* Ajusta la disposición de los elementos cuando la navegación está abierta */

.boton-hamburguesa.abierto+.navegacion {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    /* Organiza los elementos en columnas */
    align-items: baseline;
    /* Centra los elementos horizontalmente */
    justify-content: flex-start;
    /* Alinea los elementos en la parte superior */
    top: 8.2vh;
    font-size: 0.99rem;
    width: 100%;
}


/* Estilos para los enlaces del menú de navegación */

.navegacion__enlace {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}


/* Estilos para el enlace de inicio de sesión */


/* Estilos para el texto del enlace de inicio de sesión */

.navegacion a:nth-child(6) {
    display: flex;
    flex-direction: row;
}


/* Definición de la animación */

@keyframes pulse {
    0% {
        transform: scale(1);
        /* Escala normal */
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        /* Sin sombra al principio */
    }
    50% {
        transform: scale(1.05);
        /* Escala un poco más grande */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        /* Sombra más pronunciada */
    }
    100% {
        transform: scale(1);
        /* Vuelve a la escala normal */
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        /* Sin sombra al final */
    }
}


/* Aplicación de la animación al botón de inicio de sesión */

.navegacion__enlace.inicio-sesion {
    animation: pulse 1s infinite alternate;
    /* Aplica la animación con bucle infinito */
    padding: 10px 20px;
    /* Ajusta el relleno para que parezca un botón */
    border-radius: 5px;
    /* Añade bordes redondeados */
    background-color: #00DEFF;
    /* Color de fondo */
    color: #FFF;
    /* Color del texto */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    margin-top: auto;
    /* Coloca el enlace al final de la columna */
}

.navegacion__enlace .icono-svg {
    width: 20px;
    /* Tamaño más pequeño para el icono */
    margin-left: 5px;
    /* Espacio entre el texto y el icono */
}


/* Estilos para el botón de hamburguesa */

.boton-hamburguesa {
    order: -1;
    /* Mover el botón de hamburguesa al inicio del header */
    margin-right: 10px;
    /* Añadir espacio entre el botón y el enlace de inicio de sesión */
}


/* Estilos para el botón de hamburguesa */

.boton-hamburguesa {
    position: absolute;
    /* Posición absoluta para alinear con respecto al header */
    top: 50%;
    /* Alinea verticalmente con respecto al header */
    right: 10px;
    /* Alinea a la derecha */
    transform: translateY(-50%);
    /* Centra verticalmente el botón */
    background-color: transparent;
    /* Color de fondo transparente */
    border: 2px solid #fff;
    /* Borde blanco */
    color: #fff;
    /* Color del icono */
    font-size: 24px;
    /* Tamaño del icono */
    padding: 5px;
    /* Espaciado interno */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    border-radius: 4px;
    /* Bordes redondeados */
}


/* Estilos para el botón de hamburguesa cuando se abre el menú */

.boton-hamburguesa.abierto {
    color: #000;
    /* Cambia el color del icono cuando se abre */
}


/* Estilos para el contenido principal */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: rotate(-2deg);
    /* Aplica rotación al título */
    line-height: 3.5rem;
}

.titulo span {
    margin: 5px 0;
}

.titulo span:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    /* Blanco */
    line-height: 1rem;
    text-transform: uppercase;
}

.titulo span:nth-child(2) {
    font-family: 'Molot', sans-serif;
    color: #00DEFF;
    font-size: 5rem;
}

.titulo span:nth-child(3) {
    font-family: 'Molot', sans-serif;
    font-size: 5rem;
    color: #FFFFFF;
    /* Blanco */
}

.texto {
    display: flex;
    flex-direction: column;
    /* Coloca los elementos en columnas */
    align-items: center;
    /* Centra horizontalmente los elementos */
    text-align: justify;
    /* Alinea el texto al centro */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
    color: white;
}

.texto span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texto span:nth-child(1) {
    margin-bottom: 10px;
    /* Espacio entre el primer span y el siguiente */
}

.texto span:nth-child(2) {
    margin-bottom: 10px;
    /* Espacio entre el segundo span y el siguiente */
}


/* Estilos para el botón */

.boton {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #00DEFF;
    padding: 2% 15%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    text-align: center;
    font-size: 18.5px;
    position: relative;
    overflow: hidden;
}


/* Estilos para el texto dentro del botón */

.boton span {
    color: #FFFFFF;
    /* Color del texto del botón */
    display: block;
    /* Muestra el texto en bloque */
    transition: opacity 0.3s ease;
    /* Transición suave de la opacidad */
}


/* Estilos para el icono */

.boton svg {
    position: absolute;
    /* Añade posición absoluta para el icono */
    top: 50%;
    /* Centra verticalmente el icono */
    left: 50%;
    /* Centra horizontalmente el icono */
    transform: translate(-50%, -50%);
    /* Ajusta la posición */
    transition: opacity 0.3s ease;
    /* Transición suave de la opacidad */
    opacity: 0;
    /* Oculta el icono por defecto */
}


/* Estilos para el botón cuando se activa el hover */

.boton:hover {
    background-color: #25D366;
    /* Cambia el color de fondo al pasar el ratón */
}


/* Estilos para el texto del botón cuando se activa el hover */

.boton:hover span {
    opacity: 0;
    /* Oculta el texto del botón al pasar el ratón */
}


/* Estilos para el icono cuando se activa el hover */

.boton:hover svg {
    opacity: 1;
    /* Muestra el icono al pasar el ratón */
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-10px);
        /* Inicialmente, mueve el elemento hacia arriba */
    }
    50% {
        transform: translateY(10px);
        /* Luego, mueve el elemento hacia abajo */
    }
    100% {
        transform: translateY(-10px);
        /* Finalmente, vuelve a la posición inicial */
    }
}

.logo_lata {
    margin-top: 15%;
    /* Ajusta el margen superior según sea necesario */
    margin-bottom: 15%;
    /* Ajusta el margen inferior según sea necesario */
    animation: moveUpDown 2s ease infinite;
    /* Aplica la animación al logo de la lata */
}


/* Ocultar todas las imágenes */

.contenedor-imagen img {
    display: none;
}

.imagen-adicional-2,
.imagen-adicional-3,
.imagen-adicional-4,
.imagen-adicional-5,
.imagen-adicional-6,
.imagen-adicional-7,
.imagen-adicional-8,
.imagen-adicional-9 {
    display: none;
}


/* Mostrar solo las imágenes deseadas */

.contenedor-imagen .imagen-adicional-1,
.contenedor-imagen .imagen-adicional-10 {
    display: block;
    width: 100%;
    height: auto;
}

.contenedor-imagen-1 {
    position: absolute;
    /* Para posicionarla en relación con el contenedor principal */
    top: 0;
    /* Ajusta la posición desde la parte superior */
    right: 0;
    /* Ajusta la posición desde la parte derecha */
    width: 50%;
    /* Ancho de la imagen */
    height: 100%;
    /* Altura de la imagen */
    z-index: -1;
    /* La imagen estará detrás del contenido principal */
    overflow: hidden;
    /* Oculta el contenido que sobresale de los límites */
}

.contenedor-imagen-10 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    overflow: hidden;
}

.imagen-adicional-10 {
    position: absolute;
    top: 40%;
    width: 50%;
}


/* Estilos para los iconos de redes sociales */

.iconos {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


/* Estilos para cada icono de redes sociales */

.icono_ig,
.icono_fb,
.icono_x,
.icono_tt {
    margin-right: 10px;
    background-color: #00DEFF;
    /* Color de fondo */
    border-radius: 50%;
    /* Hace que el icono sea un círculo */
    padding: 8px;
    /* Reduzco el padding para hacer el círculo más pequeño */
    width: 45px;
    /* Ajusto el tamaño del icono */
    height: 42px;
    /* Ajusto el tamaño del icono */
}


/* Estilos para el footer */

.footer {
    display: none;
}

@media (max-width: 1279px) {
    .navegacion {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 8.2vh;
        right: 0;
        background-color: #98129c;
        width: 50%;
        height: 94%;
        padding: 20px;
        z-index: 999;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        text-transform: uppercase;
    }
    .a_Logo {
        width: 50%;
    }
}


/* Estilos para tablets en orientación vertical */

@media screen and (min-width: 720px) and (orientation: portrait) {
    .boton-hamburguesa.abierto+.navegacion {
        top: 9%;
    }
    .header {
        padding: 5px;
    }
    .boton-hamburguesa {
        width: 3%;
        height: 20%;
    }
    .navegacion {
        height: 91%;
    }
    .boton-hamburguesa.abierto {
        width: 3%;
        height: 20%;
    }
    .navegacion__enlace {
        font-size: 2rem;
    }
}


/* Estilos para pantallas de PC */

@media screen and (min-width: 1280px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #loader-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    #loader-video {
        max-width: 115%;
        max-height: 100%;
    }
    #content {
        display: none;
    }
    .body-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        /* Para evitar el desplazamiento vertical */
    }
    .header {
        background-color: transparent;
        /* Elimina el color de fondo del header */
        max-width: 100%;
        position: relative;
        top: 3%;
    }
    .logo {
        width: 30%;
        /* Tamaño del logo */
        position: absolute;
        /* Posición absoluta para mantener fijo el logo */
        top: 50%;
        /* Centra verticalmente el logo */
        transform: translateY(-50%);
        /* Ajusta verticalmente el logo */
        left: 2%;
        /* Espacio a la izquierda */
    }
    .a_Logo {
        width: 15%;
        margin-left: 2%;
    }
    .navegacion {
        display: flex;
        justify-content: flex-end;
        /* Centra los enlaces horizontalmente */
        align-items: center;
        /* Centra los enlaces verticalmente */
        max-width: 100%;
        /* Ajusta el ancho al 100% */
    }
    .navegacion__enlace {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        position: relative;
        /* Necesario para posicionar los pseudo-elementos */
    }
    .navegacion__enlace::before,
    .navegacion__enlace::after {
        content: '';
        /* Necesario para que los pseudo-elementos se muestren */
        position: absolute;
        left: 50%;
        bottom: 0;
        background-color: white;
        height: 2px;
        /* Altura de la línea */
        width: 0;
        /* Inicialmente la línea estará cerrada */
        transition: width 0.3s ease-out, left 0.3s ease-out;
        /* Transición suave */
    }
    .navegacion__enlace::before {
        transform: translateX(-0%);
    }
    .navegacion__enlace::after {
        transform: translateX(-00%);
    }
    .navegacion__enlace:hover::before,
    .navegacion__enlace:hover::after {
        width: 100%;
        /* Cuando el mouse está sobre el enlace, la línea se abre */
        left: 0;
        /* Para que la línea se abra hacia la izquierda */
    }
    .navegacion a:nth-child(6):hover::before,
    .navegacion a:nth-child(6):hover::after {
        display: none;
    }
    .boton-hamburguesa {
        display: none;
        /* Oculta el botón hamburguesa */
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .contenido {
        display: flex;
        /* Utiliza flexbox para alinear los elementos */
        justify-content: space-evenly;
        /* Distribuye los elementos a lo largo del contenedor */
        flex-direction: row;
        align-items: center;
    }
    .main-content {
        display: flex;
        /* Utiliza flexbox para centrar el contenido */
        justify-content: center;
        /* Centra horizontalmente el contenido */
        align-items: center;
        /* Centra verticalmente el contenido */
        height: 50vh;
        /* Establece la altura al 100% del viewport */
        z-index: 100;
    }
    .logo_lata {
        max-width: 40%;
        position: relative;
        right: 0;
        width: 40vw;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 100;
    }
    .contenedor {
        z-index: 100;
        max-width: 100%;
    }
    .contenido__texto {
        position: relative;
        left: 5%;
        font-size: 0.8rem;
        margin-right: 20px;
        z-index: 100;
    }
    .titulo {
        line-height: 8.5rem;
    }
    .titulo span:nth-child(1) {
        font-size: 4rem;
        line-height: 1rem;
    }
    .titulo span:nth-child(2) {
        font-size: 10rem;
    }
    .titulo span:nth-child(3) {
        font-size: 10rem;
        line-height: 6rem;
    }
    .texto {
        font-size: 1.15rem;
    }
    .boton {
        border-radius: 50px;
        padding: 2% 5%;
    }
    .iconos {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 15%;
        /* Alinea horizontalmente con respecto al centro */
        bottom: 4.5%;
        /* Ajusta la distancia desde la parte inferior */
        transform: translateX(-50%);
        /* Centra horizontalmente */
        z-index: 999;
        margin-bottom: 0;
    }
    .iconos a {
        margin: 0 10px;
        /* Añade margen horizontal entre los iconos */
    }
    .footer {
        display: block;
        position: fixed;
        bottom: -1.1rem;
        left: 0;
        width: 100%;
        /* Establece el ancho al 100% */
        z-index: 101;
    }
    /* Estilos para la primera imagen adicional */
    @keyframes windAnimation {
        0% {
            transform: translateX(-1px) rotate(-1deg);
        }
        50% {
            transform: translateX(1px) rotate(1deg);
        }
        100% {
            transform: translateX(-1px) rotate(-1deg);
        }
    }
    .imagen-adicional-1,
    .imagen-adicional-2,
    .imagen-adicional-3,
    .imagen-adicional-4,
    .imagen-adicional-5,
    .imagen-adicional-6,
    .imagen-adicional-7,
    .imagen-adicional-8,
    .imagen-adicional-9,
    .imagen-adicional-10 {
        animation: windAnimation 2s ease-in-out infinite alternate;
    }
    .contenedor-imagen-1 {
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
    }
    .imagen-adicional-1 {
        position: absolute;
        right: 25%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-2 {
        position: absolute;
        top: 73%;
        right: 0%;
        width: 100%;
        height: 26%;
        z-index: -1;
        overflow: hidden;
    }
    .imagen-adicional-2 {
        display: block;
        position: absolute;
        top: 10%;
        right: 30%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-3 {
        position: absolute;
        top: 75%;
        right: 0%;
        width: 100%;
        height: 25%;
        overflow: hidden;
    }
    .imagen-adicional-3 {
        display: block;
        position: absolute;
        top: 3%;
        right: 30%;
        max-height: 100%;
        max-width: 100%;
        z-index: 102;
    }
    .contenedor-imagen-4 {
        position: absolute;
        top: calc(76% - 5vh);
        right: calc(12% - 12%);
        width: 100%;
        height: 29%;
        overflow: hidden;
    }
    .imagen-adicional-4 {
        display: block;
        position: absolute;
        top: 2%;
        right: 0;
        max-height: 100%;
        max-width: 100%;
        z-index: 104;
    }
    .contenedor-imagen-5 {
        position: absolute;
        top: 20%;
        width: 100%;
        height: 80%;
        z-index: -1;
        overflow: hidden;
    }
    .imagen-adicional-5 {
        display: block;
        position: absolute;
        right: -1%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-6 {
        position: absolute;
        bottom: 0;
        right: 0%;
        width: 100%;
        height: 30%;
        z-index: -1;
        overflow: hidden;
    }
    .imagen-adicional-6 {
        display: block;
        position: absolute;
        right: 20%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-7 {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 30%;
        z-index: -1;
        overflow: hidden;
    }
    .imagen-adicional-7 {
        display: block;
        position: absolute;
        right: 10%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-8 {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 85%;
        z-index: -2;
        overflow: hidden;
    }
    .imagen-adicional-8 {
        display: block;
        position: absolute;
        right: 9%;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-9 {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 30%;
        z-index: -2;
        overflow: hidden;
    }
    .imagen-adicional-9 {
        display: block;
        position: absolute;
        right: 0;
        max-height: 100%;
        max-width: 100%;
    }
    .contenedor-imagen-10 {
        position: absolute;
        top: 0%;
        left: -1%;
        width: 50%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }
    .imagen-adicional-10 {
        display: block;
        position: absolute;
        top: 25%;
        max-height: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    #loader-wrapper {
        background-color: transparent;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    #loader-video {
        max-width: 150%;
        max-height: 120%;
    }
    #content {
        display: none;
    }
    .contenedor {
        max-width: 100%;
    }
    .main-content {
        height: 35vh;
    }
}

@media (min-width: 2300px) {}

@media (min-width: 3200px) {
    .navegacion {
        width: 65%;
        transform: translateX(-3%);
    }
    .navegacion__enlace {
        font-size: 35px;
        margin: 0;
    }
    .iconos a {
        margin: 0px 25px;
    }
}